@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient-primary {
    background: linear-gradient(to bottom right, #3939ff, #00ffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-secondary {
    background: linear-gradient(to bottom right, #7979ff, #b1ffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-gradient-primary {
    background: linear-gradient(to bottom right, #3939ff, #00ffff);
}